beautifulsoup4==4.11.1
bs4==0.0.1
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distro==1.7.0
Flask==2.2.2
Flask-Compress==1.12
lxml==4.9.1
numpy==1.23.2
numpy-financial==1.0.0
pandas==1.4.4
pandas-datareader==0.10.0