beautifulsoup4==4.11.1
bs4==0.0.1
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distro==1.8.0
Flask==2.2.5
Flask-Compress==1.13
lxml==4.9.2
numpy==1.24.2
numpy-financial==1.0.0
pandas==1.5.3
pandas-datareader==0.10.0